.big-container {
    /* background-color: aqua; */
    width: 600px;
}

header {
    text-align: center;
}

h1 {
    margin: 0px;
}

.resultat {
    height: 50px;
    text-align: center;
    font-size: 3rem;
    color: yellow;
    padding: 10px;
}

button {
    outline-style: none;
}

.btn-shifumi {
    background-color: blue;
    color: white;
    height: 40px;
    width: 70px;
    border-radius: 6px;
}

.btn-shifumi:hover {
    cursor: pointer;
    background-color: white;
    color: blue;
    transition-duration: 0.4s;
}

.hand-container {
    display: flex;
}

.hand {
    height: 250px;
    width: 400px;
    /* background-color: purple; */
    margin: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.hand-joueur {
    height: 100px;
    padding: 20px;
}

.hand-robot {
    height: 100px;
    padding: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.grey {
    color: grey;
}